<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<!-- mybatis全局参数配置 -->
  	<settings>
		<!--自动映射-->
  		<setting name="autoMappingBehavior" value="FULL"/>
		<!--将数据库的下划线命名转驼峰命名-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!--允许缓存-->
		<setting name="cacheEnabled" value="true"/>
  	</settings>

	<!--mybatis分页插件-->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper"/>
	</plugins>
  </configuration>